<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-light mb-5 px-4 py-3 border-bottom d-flex sticky-top justify-content-between align-items-center">
      <%= link_to "Wikinimous", articles_path, class: 'm-0 text-muted h4' %>
      <%= link_to "New Article", new_article_path, class: 'btn btn-primary m-0' %>
    </header>
    <%= yield %>
  </body>
</html>
